$roboto-font-path: "../fonts/";
$icons-font-path: "../fonts/";
@import "materialize/sass/materialize";

$color-transition: color 0.2s ease-in-out;

a {
  -webkit-transition: $color-transition;
  -moz-transition: $color-transition;
  -ms-transition: $color-transition;
  -o-transition: $color-transition;
  transition: $color-transition;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  &.login {
    padding-top: 40px;
  }
}

main {
  flex: 1 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.page-footer {
  ul {
    margin-top: 0;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

@media only screen and (min-width: 601px) {
  .container {
    width: 95%;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}
