$roboto-font-path: "../fonts/";
$icons-font-path: "../fonts/";
@import "materialize/sass/materialize";

$avatar-height: 30px;
$color-transition: color 0.2s ease-in-out;
$image-padding: 20px;
$image-width: 150px;
$swatch-height: 50px;

a {
  -webkit-transition: $color-transition;
  -moz-transition: $color-transition;
  -ms-transition: $color-transition;
  -o-transition: $color-transition;
  transition: $color-transition;
}

body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  &.login {
    padding-top: 40px;
  }
}

.instagram-user {
  .logout-link {
    display: inline-block;
    height: $avatar-height;
    line-height: $avatar-height;
  }

  .name-and-avatar {
    display: inline-block;
    height: $avatar-height;

    .avatar {
      max-height: $avatar-height;
      border-radius: 100%;
      display: inline-block;
      vertical-align: middle;
    }

    .name {
      line-height: $avatar-height;
      vertical-align: middle;
      margin-left: 10px;
      display: inline-block;
    }
  }
}

main {
  flex: 1 0 auto;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.images-list-wrapper {
  .images-list {
    .image-list-item {
      list-style: none;
      margin-top: 20px;

      .image-link {
        display: block;
        float: left;
        margin-right: $image-padding;

        .thumbnail {
          border-radius: 2px;
          width: $image-width;
          height: $image-width;
        }
      }

      .image-details {
        margin-left: $image-width + $image-padding;
        padding-top: $image-padding;

        .caption {
          margin-top: 0;
        }

        .swatches-list {
          .swatch-list-item {
            width: 19%;
            display: inline-block;
            position: relative;
            height: $swatch-height;

            .swatch {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              right: 2px;
              height: $swatch-height;
              line-height: $swatch-height;
              text-align: center;
              border-radius: 2px;

              &.dark {
                color: #F0F0F0;
              }

              &.light {
                color: #333;
              }
            }

            & + .swatch-list-item {
              padding-left: 1%;
            }
          }
        }
      }
    }
  }
}

.page-footer {
  ul {
    margin-top: 0;
  }
}

.pagination-wrapper {
  .previous-page-link {
    margin-right: 10px;
  }

  .next-page-link {
    float: right;
    margin-left: 10px;
  }
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
